Deprecated
anyio
async-timeout
attrs
beautifulsoup4
cached-property
certifi
chardet
charset-normalizer
click
colorama
datadispatch
dnspython
h11
httpcore
httpx
idna
multidict
packaging
pip
pymongo
pyparsing
redis
requests
rfc3986
rq
setuptools
sniffio
soupsieve
tasks
typing-extensions
urllib3
wrapt
yarl