@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.watchlist {
    display: flex;
    flex-direction: row;
}

#hompageCards {
    display: flex;
    flex-wrap: wrap;
}

.sectionTitle {
    font-family: 'Koulen', cursive;
    margin: 10px 0px 0px 0px;
    color: #0c1e31;
}

#loadCoinsButtonCont {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 0px 
}