@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.watchlist {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
  
  /* Works on Chrome, Edge, and Safari */
  .watchlist::-webkit-scrollbar {
    height: 5px;
  }
  
  .watchlist::-webkit-scrollbar-track {
    background: rgb(210, 210, 210);
  }
  
  .watchlist::-webkit-scrollbar-thumb {
    background-color: #0c1e31;
    border-radius: 20px;
    /* border: 3px solid gray; */
    height: 4px;
  }


#hompageCards {
    display: flex;
    flex-wrap: wrap;
}

.sectionTitle {
    font-family: 'Koulen', cursive;
    margin: 10px 0px 0px 0px;
    color: #0c1e31;
}

#loadCoinsButtonCont {
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px 0px 0px 
}